<h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false">
  <p>What is your question?</p>
  <input type="text" name="question" placeholder="what is your question?">
  <input type="submit" value="Ask!">
</form>
